{# Template pour une carte de catégorie #}
<a class="relative flex flex-row items-center justify-center rounded-xl overflow-hidden aspect-square border hover:scale-105 cursor-pointer transition hover:bg-gray-100">
    <span class="text-red-600 font-bold mr-2">
        {{ icon|raw }}
    </span>
    <span class="capitalize font-medium text-3xl truncate">{{ title|raw }}</span>
</a> 