{# Template pour le bouton charger plus #}
<button class="flex flex-col items-center mt-9 w-full">
    <a class="relative flex w-full bg-red-600 flex-row p-3 items-center justify-center rounded-lg overflow-hidden border cursor-pointer transition hover:bg-red-700 text-white">
        <span class="font-bold mr-2">
            <svg class="h-6 w-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                <title>plus-circle</title><path d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"/></svg>
        </span>
        <span class="capitalize font-medium text-md">{{ buttonText|default('Charger + de films') }}</span>
    </a>
</button> 