{# Template pour le bouton de film aléatoire #}
<div class="flex flex-col items-center mt-9">
    <a class="relative flex w-full flex-row p-3 items-center justify-center rounded-lg overflow-hidden border hover:scale-105 cursor-pointer transition hover:bg-gray-100">
        <span class="text-red-600 font-bold mr-2">
            <svg class="h-6 w-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                <title>repeat-variant</title><path d="M6,5.75L10.25,10H7V16H13.5L15.5,18H7A2,2 0 0,1 5,16V10H1.75L6,5.75M18,18.25L13.75,14H17V8H10.5L8.5,6H17A2,2 0 0,1 19,8V14H22.25L18,18.25Z"/></svg>
        </span>
        <span class="capitalize font-medium text-md">{{ buttonText|default('Trouver un film aléatoirement') }}</span>
    </a>
</div> 